<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>NSBonjourServices</key>
	<array>
		<string>_buzzplay-game._tcp</string>
	</array>
    <key>UIAppFonts</key>
    <array>
        <string>Nohemi-Thin.otf</string>
        <string>Nohemi-ExtraLight.otf</string>
        <string>Nohemi-Light.otf</string>
        <string>Nohemi-Regular.otf</string>
        <string>Nohemi-Medium.otf</string>
        <string>Nohemi-SemiBold.otf</string>
        <string>Nohemi-Bold.otf</string>
        <string>Nohemi-ExtraBold.otf</string>
        <string>Nohemi-Black.otf</string>
    </array>
</dict>
</plist>
